<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Student Registration Form</title>
</head>
<body>
    {{>navbar}}
    <h1>Uploaded Image</h1>
    <img src="test.jpg"/>
    <h1>Created Images</h1>
    <img src="output/temp/0.png"/>
    <img src="output/temp/1.png"/>
    <img src="output/temp/2.png"/>
    <img src="output/temp/3.png"/>
    <img src="output/temp/4.png"/>
    <img src="output/temp/5.png"/>
    <img src="output/temp/6.png"/>
    <img src="output/temp/7.png"/>
</body>
</html>