<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Student Registration Form</title>
</head>
<body>
    {{>navbar}}
    <div style="width: 100%;">
        <div class="jumbotron">
        <h1 class="display-4" style="color: black;">Hello, Folks!</h1>
        <p class="lead">Create Professional looking Pictures in matter of seconds</p>
        <hr class="my-4">
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
        <a class="btn btn-primary btn-lg" href="/image" role="button">Create</a>
        </p>
        </div>
    </div>
    {{>scripts}}
</body>
</html>