<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
</head>
<body>
  {{>navbar}}
    <h1>Registration Page</h1>
    <div class="login-page">
      <div class="form">
        <form class="register-form" action="/register" method="POST">
            <input class="ip" type="text" placeholder="username" name="username"/><br/>
            <input class="ip" type="email" placeholder="email"/ name="email"><br/>
            <input class="ip" type="password" placeholder="password" name="password"/><br/>
            <input class="ip" type="text" placeholder="address" name="addr"/><br/>
            <input class="button" type="submit" value="Register"/>
          <p class="message">Already registered? <a href="login">Sign In</a></p>
        </form>
      </div>
    </div>
    {{>scripts}}
</body>
</html>