<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Secret</title>
</head>
<body>
    {{>navbar}}
    <h1> If you see cookie below that means you're logged in</h1>
    {{cook}}

    <h2>{{uname}}</h2>
    <h2>{{email}}</h2>
    <h2>{{addr}}</h2>
    {{>scripts}}
</body>
</html>